<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">

<header>
    <nav id="bodyNav" th:data-islogin="${isLogin}" class="navbar navbar-expand-md bg-light navbar-light fixed-top">
        <a class="navbar-brand" th:href="@{/admin}">
            <img th:src="@{/static/img/icon.png}" class="img-circle" width="30" height="30" alt="" loading="lazy">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav mr-auto">
                <li th:class="${'nav-item' + (#strings.equals(currentDomain, 'article') ? ' selected-domain' : '')}" class="nav-item">
                    <a class="nav-link" th:href="@{/admin/user/1}">用户管理</a>
<!--                </li>-->
<!--                <li th:class="${'nav-item' + (#strings.equals(currentDomain, 'faq') ? ' selected-domain' : '')}" class="nav-item">-->
<!--                    <a class="nav-link" href="/faq">问答</a>-->
<!--                </li>-->
                <li th:if="${isLogin}" th:class="${'nav-item' + (#strings.equals(currentDomain, 'interest') ? ' selected-domain' : '')}" class="nav-item">
                    <a class="nav-link" th:href="@{/admin/article/1}">文章管理</a>
                </li>
            </ul>
<!--            <form class="form-inline my-md-0" th:action="@{/search}" method="get" target="_blank">-->
<!--                <input name="key" required class="form-control mr-sm-2" type="text" placeholder="搜索">-->
<!--            </form>-->
            <ul th:if="${isLogin != true}" class="navbar-nav my-md-0">
                <li class="nav-item">
<!--                    <a class="nav-link" th:href="@{/login}">登录</a>-->
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal">登录</a>
                </li>
            </ul>
            <ul th:if="${isLogin}" class="navbar-nav my-md-0">
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link navbar-count-msg-box" href="/message" target="_blank">-->
<!--                        <span th:if="${false}" class="navbar-count-msg"></span>-->
<!--                        <i data-feather="bell" style="width: 18px;height: 18px;"></i>-->
<!--                    </a>-->
<!--                </li>-->
                <!-- Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbar drop" data-toggle="dropdown">
                        <img th:src="${loginUser.avatar}" src="https://static.developers.pub/static/img/logo.b2ff606.jpeg" width="30" height="30" alt="" loading="lazy">
                    </a>
                    <div class="dropdown-menu">
                        <a th:if="${!#strings.equalsIgnoreCase(loginUser.role, 'USER')}" th:href="@{/admin}" target="_blank" class="dropdown-item">管理后台</a>
                        <div th:if="${!#strings.equalsIgnoreCase(loginUser.role, 'USER')}" class="dropdown-divider"></div>
                        <a th:href="@{'/user/' + ${loginUser.id}}" class="dropdown-item" target="_blank" href="#">个人主页</a>
                        <a th:href="@{/user/logout}" class="dropdown-item">登出</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>

</html>